{% extends 'core/base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-xl my-8 border border-gray-200">
    <h2 class="text-3xl font-extrabold mb-8 text-center text-gray-800">Profile</h2>
    <div class="grid grid-cols-1 gap-y-4">
        <p class="text-lg"><strong>First Name:</strong> {{ user.first_name }}</p>
        <p class="text-lg"><strong>Last Name:</strong> {{ user.last_name }}</p>
        <p class="text-lg"><strong>Email:</strong> {{ user.email }}</p>
        <p class="text-lg"><strong>Address:</strong> {{ user.address }}</p>
        <p class="text-lg"><strong>City:</strong> {{ user.city }}</p>
        <p class="text-lg"><strong>House Number:</strong> {{ user.house_number }}</p>
        <p class="text-lg"><strong>Postal Code:</strong> {{ user.postal_code }}</p>
        <p class="text-lg"><strong>Country:</strong> {{ user.country }}</p>
        <p class="text-lg"><strong>Birthday:</strong> {{ user.birthday }}</p>
        <p class="text-lg"><strong>Phone Number:</strong> {{ user.phone_number }}</p>
        <p class="text-lg"><strong>Balance:</strong> {{ user.balance }}</p>
    </div>
</div>
{% endblock %}
